body{
    background-color: pink;
}
nav{
    background-color: powderblue;
}
footer
{
    background-color:thistle;
}
#one
{
background-color: violet;
}
#two{
background-color: blue;
}